[Unit]
Description=VPN Portal API (Staging)
After=network.target

[Service]
WorkingDirectory=/opt/vpnportal-staging/current/api
ExecStart=/usr/bin/dotnet /opt/vpnportal-staging/current/api/VpnPortal.Api.dll
Restart=always
RestartSec=5
SyslogIdentifier=vpnportal-api-staging
User=www-data
EnvironmentFile=/etc/vpnportal/vpnportal.staging.env

[Install]
WantedBy=multi-user.target
