DEPLOY_ENV_NAME=stage
DEPLOY_PATH=/opt/vpnportal-stage
DEPLOY_USER=deploy
NGINX_PORTAL_SERVER_NAME=stage-vpn.example.com
RUNTIME_ENV_FILE=/etc/vpnportal/vpnportal.stage.container.env
NGINX_SITE_NAME=vpnportal-stage.conf
APP_PORT=5001
