DEPLOY_ENV_NAME=prod
DEPLOY_PATH=/opt/vpnportal
DEPLOY_USER=deploy
NGINX_PORTAL_SERVER_NAME=vpn.example.com
RUNTIME_ENV_FILE=/etc/vpnportal/vpnportal.prod.container.env
NGINX_SITE_NAME=vpnportal.conf
APP_PORT=5000
